streamlit==1.36.0
google-api-python-client==2.146.0
joblib==1.4.2
pandas==2.2.2
matplotlib==3.9.2
numpy==1.26.4
scikit-learn==1.5.1
transformers==4.44.2
torch==2.4.1
youtube-transcript-api==0.6.2
langchain==0.2.12
langchain-community==0.2.11
langchain-google-genai==0.0.12

